body {
  font-family: Arial;
  background: #111;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  background: #1c1c1c;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
}

.left, .right {
  padding: 10px;
}

button {
  width: 100%;
  padding: 14px;
  margin: 5px 0;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #ffb703;
  font-weight: bold;
}

.table {
  background: #222;
  padding: 15px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
}
